{% extends "base.html" %}

{% block side_panel %}
    <form method="get">
        <label for="season">Season:</label>
        <select id="season" name="season" onchange="this.form.submit()">
            {% for season in range(2023, 2025) %}
                <option value="{{ season }}" {% if season == selected_season|int %} selected {% endif %}>{{ season }}</option>
            {% endfor %}
        </select>
    </form>

    <ul>
        {% for month, races in calendar_data.items() %}
            <li>{{ month }}</li>
            <ul>
                {% for race in races %}
                    <li>
                        <a href="{{ url_for('nascar', season=selected_season, race=race.race_number) }}"
                                class="{% if race.season_stage != 'season' %}playoff-race 
                                {% if race.season_stage == 'playoff_16' %}playoff-16
                                {% elif race.season_stage == 'playoff_12' %}playoff-12
                                {% elif race.season_stage == 'playoff_8' %}playoff-8
                                {% elif race.season_stage == 'playoff_4' %}playoff-4
                                {% endif %}
                            {% endif %}">
                            {{ race.race_date.day|ordinal_suffix }} - {{ race.track_short_name }} ({{ race.track_type_short }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h2>NASCAR Results - Season {{ selected_season }}</h2>

    {# Show results only if a race is selected #}
    {% if selected_race %}
        <h3>{{ selected_race_data.track_name }} - {{ selected_race_data.race_date.strftime('%B') }} {{ selected_race_data.race_date.day|ordinal_suffix}}</h3>
        {% if selected_race_data.season_stage == "season" %}
        <h5>{{ selected_race_data.race_name }} - {{ selected_race_data.track_type }} - {{ selected_race|ordinal_suffix }} (of 26) race of the season</h5>
        {% elif selected_race_data.season_stage == "playoff_16" %}
        <h5>{{ selected_race_data.race_name }} - {{ selected_race_data.track_type }} - {{ ((selected_race|int - 26)|string)|ordinal_suffix }} (of 3) race of the round of 16</h5>
        {% elif selected_race_data.season_stage == "playoff_12" %}
        <h5>{{ selected_race_data.race_name }} - {{ selected_race_data.track_type }} - {{ ((selected_race|int - 29)|string)|ordinal_suffix }} (of 3) race of the round of 12</h5>
        {% elif selected_race_data.season_stage == "playoff_8" %}
        <h5>{{ selected_race_data.race_name }} - {{ selected_race_data.track_type }} - {{ ((selected_race|int - 32)|string)|ordinal_suffix }} (of 3) race of the round of 8</h5>
        {% elif selected_race_data.season_stage == "playoff_4" %}
        <h5>{{ selected_race_data.race_name }} - {{ selected_race_data.track_type }} - Championship Final</h5>
        {% endif %}

        <ul class="main-tabs">
            <li class="main-tab-link" data-tab="race-results">Race Results</li>
            <li class="main-tab-link" data-tab="analysis">Analysis</li>
        </ul>
    
        <div class="tab-content">
            <!-- Race Results Section (default active) -->
            <div id="race-results" class="tab active">
                <ul class="inner-tabs">
                    <li class="inner-tab-link" data-tab="race-results-content">Race Results</li>
                    <li class="inner-tab-link" data-tab="race-details-content">Race Details</li>
                    <li class="inner-tab-link" data-tab="season-standings-content">Season Standings</li>
                    <li class="inner-tab-link" data-tab="playoff-standings-content">Playoff Standings</li>
                </ul>
                <div class="inner-tab-content">
                    <div id="race-results-content" class="inner-tab active">
                        <ul class="session-tabs">
                            <li class="session-tab-link" data-tab="Race">Race</li>
                            <li class="session-tab-link" data-tab="Qualifying">Qualifying</li>
                            <li class="session-tab-link" data-tab="Stage 1">Stage 1</li>
                            <li class="session-tab-link" data-tab="Stage 2">Stage 2</li>
                        </ul>
        
                        <div class="session-tab-content">
                            {% if selected_race %}
                                {% if selected_race_data.results and selected_race_data.results|length > 0 %}
                                    <div id="Race" class="session-tab active">
                                        <h4>Race Results</h4>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Position</th>
                                                    <th>Driver</th>
                                                    <th>Car Number</th>
                                                    <th>Team</th>
                                                    <th>Make</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for driver, rest_data in selected_race_data.results.Race.items() %}
                                                    <tr {% if rest_data.position == 1 %}class="winner"{% elif 2 <= rest_data.position <= 10 %}class="top-ten"{% endif %}>
                                                        <td>{{ rest_data.position }}</td>
                                                        <td>{{ driver }}</td>
                                                        <td>{{ rest_data.car_number }}</td>
                                                        <td>{{ rest_data.team }}</td>
                                                        <td>{{ rest_data.make }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p>This race has not yet occurred. Results will be available once the race is completed.</p>
                                {% endif %}
                            
                                <div id="Qualifying" class="session-tab">
                                    <h4>Qualifying Results</h4>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Position</th>
                                                <th>Driver</th>
                                                <th>Car Number</th>
                                                <th>Team</th>
                                                <th>Make</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for driver, rest_data in selected_race_data.results.Qualifying.items() %}
                                                <tr {% if rest_data.position == 1 %}class="winner"{% elif 2 <= rest_data.position <= 10 %}class="top-ten"{% endif %}>
                                                    <td>{{ rest_data.position }}</td>
                                                    <td>{{ driver }}</td>
                                                    <td>{{ rest_data.car_number }}</td>
                                                    <td>{{ rest_data.team }}</td>
                                                    <td>{{ rest_data.make }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            
                                <div id="Stage 1" class="session-tab">
                                    <h4>Stage 1 Results</h4>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Position</th>
                                                <th>Driver</th>
                                                <th>Car Number</th>
                                                <th>Team</th>
                                                <th>Make</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for driver, rest_data in selected_race_data.results['Stage 1'].items() %}
                                                <tr {% if rest_data.position == 1 %}class="winner"{% elif 2 <= rest_data.position <= 10 %}class="top-ten"{% endif %}>
                                                    <td>{{ rest_data.position }}</td>
                                                    <td>{{ driver }}</td>
                                                    <td>{{ rest_data.car_number }}</td>
                                                    <td>{{ rest_data.team }}</td>
                                                    <td>{{ rest_data.make }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        
                                <div id="Stage 2" class="session-tab">
                                    <h4>Stage 2 Results</h4>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Position</th>
                                                <th>Driver</th>
                                                <th>Car Number</th>
                                                <th>Team</th>
                                                <th>Make</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for driver, rest_data in selected_race_data.results['Stage 2'].items() %}
                                                <tr {% if rest_data.position == 1 %}class="winner"{% elif 2 <= rest_data.position <= 10 %}class="top-ten"{% endif %}>
                                                    <td>{{ rest_data.position }}</td>
                                                    <td>{{ driver }}</td>
                                                    <td>{{ rest_data.car_number }}</td>
                                                    <td>{{ rest_data.team }}</td>
                                                    <td>{{ rest_data.make }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>Please select a race to view results.</p>
                            {% endif %}
                        </div>    
                    </div>
                    <div id="race-details-content" class="inner-tab">
                        {% if selected_race %}
                        {% for data_type, results in selected_race_details.items() %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Driver</th>
                                        <th>Laps Led</th>
                                        <th>Status</th>
                                        <th>Finish Position Points</th>
                                        <th>Stage Points</th>
                                        <th>Season Points</th>
                                        <th>Playoff Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for driver, rest_data in results.items() %}
                                        <tr {% if rest_data.position == 1 %}class="winner"{% elif 2 <= rest_data.position <= 10 %} class="top-ten"{% endif %}>
                                            <td>{{ rest_data.position }}</td>
                                            <td>{{ driver }}</td>
                                            <td>{{ rest_data.laps_led }}</td>
                                            <td>{{ rest_data.status }}</td>
                                            <td>{{ rest_data.finish_position_points }}</td>
                                            <td>{{ rest_data.stage_points }}</td>
                                            <td>{% if rest_data.season_points > 0 %}{{ rest_data.season_points }}{% else %}-{% endif %}</td>
                                            <td>{% if rest_data.season_points > 0 %}{{ rest_data.playoff_points }}{% else %}-{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div id="season-standings-content" class="inner-tab">
                        {% if selected_race %}
                        {% for data_type, results in season_standings.items() %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Driver</th>
                                        <th># Wins</th>
                                        <th># Stage Wins</th>
                                        <th>Finish Position Points</th>
                                        <th>Stage Points</th>
                                        <th>Season Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for driver, rest_data in results.items() %}
                                        <tr 
                                            {% if rest_data.position == 1 %}class="winner"{% endif %}
                                            {% if selected_race|int <= 26 %}
                                                {% if rest_data.position <= 10 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif 27 <= selected_race|int <= 29 %}
                                                {% if rest_data.position <= 16 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif 30 <= selected_race|int <= 32 %}
                                                {% if rest_data.position <= 12 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif 33 <= selected_race|int <= 35 %}
                                                {% if rest_data.position <= 8 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif selected_race|int == 36 %}
                                                {% if rest_data.position == 1 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% endif %}
                                        >
                                            <td>{{ rest_data.position }}</td>
                                            <td>{{ driver }}</td>
                                            <td>{{ rest_data.wins }}</td>
                                            <td>{{ rest_data.stage_wins }}</td>
                                            <td>{{ rest_data.race_finish_points }}</td>
                                            <td>{% if rest_data.race_stage_points > 0 %}{{ rest_data.race_stage_points }}{% else %}0{% endif %}</td>
                                            <td>{% if rest_data.race_season_points > 0 %}{{ rest_data.race_season_points }}{% else %}0{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>                        
                            </table>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div id="playoff-standings-content" class="inner-tab">
                        {% if selected_race %}
                        {% for data_type, results in playoff_standings.items() %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Driver</th>
                                        <th># Wins</th>
                                        <th># Stage Wins</th>
                                        <th>Season Points</th>
                                        <th>Gap To Leader</th>
                                        <th>Gap To Bubble</th>
                                        <th>Playoff Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for driver, rest_data in results.items() %}
                                        <tr
                                            {% if rest_data.position == 1 %}class="winner"{% endif %}
                                            {% if selected_race|int <= 26 %}
                                                {% if 16 < rest_data.position <= 20 %}
                                                class="playoff-contender"
                                            {% elif rest_data.position <= 16 %}
                                                class="top-ten"
                                            {% endif %}
                                            {% elif 27 <= selected_race|int <= 29 %}
                                                {% if 12 < rest_data.position <= 16 %}
                                                    class="playoff-contender"
                                                {% elif rest_data.position <= 12 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif 30 <= selected_race|int <= 32 %}
                                                {% if 8 < rest_data.position <= 12 %}
                                                    class="playoff-contender"
                                                {% elif rest_data.position <= 8 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif 33 <= selected_race|int <= 35 %}
                                                {% if 4 < rest_data.position <= 8 %}
                                                    class="playoff-contender"
                                                {% elif rest_data.position <= 4 %}
                                                    class="top-ten"
                                                {% endif %}
                                            {% elif selected_race|int == 36 %}
                                                {% if rest_data.position == 1 %}
                                                    class="champion"
                                                {% endif %}
                                            {% endif %}
                                        >
                                            <td>{{ rest_data.position }}</td>
                                            <td>{{ driver }}</td>
                                            <td>{{ rest_data.wins }}</td>
                                            <td>{{ rest_data.stage_wins }}</td>
                                            <td>{{ rest_data.race_season_points }}</td>
                                            <td>{{ rest_data.point_gap_to_leader }}</td>
                                            <td>{{ rest_data.point_gap_to_bubble }}</td>
                                            <td>{{ rest_data.race_playoff_points }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>                                          
                            </table>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div id="analysis" class="tab">
                <ul class="inner-tabs">
                    <li class="inner-tab-link" data-tab="driver-stats-content">Driver Stats</li>
                    <li class="inner-tab-link" data-tab="track-stats-content">Track Stats</li>
                </ul>
                <div class="inner-tab-content">
                    <div id="driver-stats-content" class="inner-tab active">
                        <h2>Driver Stats</h2>
                        <div class="driver-stats-container">
                            <div class="driver-selection-container">
                              <div id="driver-selection" class="multi-column-checkboxes"></div>
                              <div class="stats-selector-container">
                                <label for="stats-selector">Select Statistic:</label>
                                <select id="stats-selector">
                                  <option value="season_standings">Season Standings</option>
                                  <option value="season_points">Season Points</option>
                                  <option value="finish_position_points">Finish Position Points</option>
                                  <option value="stage_points">Stage Points</option>
                                  <option value="playoff_points">Playoff Points</option>
                                  <option value="wins">Wins</option>
                                </select>
                              </div>
                              <button id="plot-button">Plot Selected Drivers</button>
                            </div>
                            <div class="driver-plot-container">
                              <div id="driver-plot"></div>
                            </div>
                        </div>
                    </div>
                    <div id="track-stats-content" class="inner-tab">
                        <!-- Track Stats content goes here -->
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>The race results are not ready yet</p>
    {% endif %}

{% endblock %}
